@use 'overrides';
@use 'fonts' as *;
@use 'common';

/********** Spacing (home) **********/

h1 {
	margin-bottom: var(--spacing);
}

/********** Page header (home) **********/

#header-logo-bar {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

#search-bar {
	position: relative;
	background-color: var(--search-bar-bg-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#search-form {
	width: max-content;
	line-height: 50px;
	margin: auto;
}

#search-input-label {
	position: relative;
	left: 40px;
}

#search-input-text {
	position: relative;
	left: 40px;
	width: 180px;
	margin-left: 10px;
	border-width: 0;
    background-color: inherit;
	outline: none;
}

/********** Section intro **********/

#intro-section {
	text-align: center;

	> h1 {
		padding: 0 30px;
	}
}

#intro-subtext {
	margin-bottom: 20px;
}

/********** Section steps **********/

#steps-section-bg {
	background-color: white;
}

#steps-box {
	display: flex;
	flex-direction: column;
	gap: var(--spacing);
	box-sizing: border-box;
	max-width: 1100px;
	padding: 0 0 12px 12px;
	margin: auto;
}

.step-box {
	position: relative;
	line-height: 50px;
	padding-left: 15px;
	border-radius: 20px;
	background-color: var(--main-bg-color);
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
	text-align: center;
}

.circle-icon {
	position: absolute;
	top: 13px;
	left: -12px;
	width: 24px;
	line-height: 24px;
	border-radius: 50%;
	background-color: var(--btn-grad-color1);
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	color: white;
}

.step-description {
	position: relative;

	> .fa-solid {
		position: absolute;
		top: 0;
		font-size: 20px;
		color: var(--btn-grad-color1);
	}
}

.fa-mobile-screen-button {
	left: -26px;
}

.fa-list-ul {
	left: -38px;
}

.fa-store {
	left: -36px;
}

/********** Section restaurants **********/

.restaurant-cards {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--spacing);
	max-width: 1100px;
	margin: auto;
}

.restaurant-card {
	position: relative;
	border-radius: 15px;
	background-color: white;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.restaurant-card-link {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 15px;
}

.restaurant-img {
	display: block;
	object-fit: cover;
	width: 100%;
}

.new-label {
	display: block;
	position: absolute;
	top: 15px;
	right: 15px;
	padding: 6px 10px;
	border-radius: 2px;
	background-color: var(--label-bg-color);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
	color: var(--label-text-color);
}

.restaurant-card-details {
	display: flex;
	justify-content: space-between;
	padding: 15px;
}

.heart-cb-label {
	align-self: center;
	cursor: pointer;
}
