/********** Overrides **********/
body, h1, h2, ul, p {
  margin: 0;
}

h2 {
  font-weight: 300;
}

ul, input {
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

input, button {
  font-family: "Roboto", sans-serif;
}

/********** Mixins **********/
/********** Fonts **********/
:root {
  font-family: "Roboto", sans-serif;
}

:root, p {
  line-height: 19px;
  font-size: 15px;
  font-weight: 300;
}

h1 {
  line-height: 28px;
  font-size: 24px;
  font-weight: bold;
}

h2, a, input {
  line-height: 20px;
  font-size: 16px;
}

#intro-subtext,
.item-text {
  line-height: 21px;
  font-size: 17px;
}

input,
.btn-link,
.step-description,
.footer-link {
  font-weight: 500;
}

.item-text,
.item-price {
  font-weight: bold;
}

/********** General **********/
:root {
  --main-bg-color: #F6F6F6;
  --search-bar-bg-color: #EAEAEA;
  --btn-grad-color1: #9356DC;
  --btn-grad-color2: #FF79DA;
  --label-bg-color: #99E2D0;
  --label-text-color: #008766;
  --footer-bg-color: #353535;
}

body {
  min-width: 350px;
  max-width: 1440px;
  margin: auto;
  cursor: default;
}

main {
  background-color: var(--main-bg-color);
}

/********** Spacing **********/
:root {
  --spacing: 25px;
}
@media screen and (min-width: 600px) {
  :root {
    --spacing: 30px;
  }
}
@media screen and (min-width: 1000px) {
  :root {
    --spacing: 40px;
  }
}

.section-pad {
  max-width: 1100px;
  margin: auto;
  padding: var(--spacing);
}

.item-text {
  margin-bottom: 5px;
}

/********** Button **********/
.btn-link {
  display: block;
  width: 218px;
  line-height: 50px;
  margin: auto;
  border-radius: 25px;
  background: linear-gradient(var(--btn-grad-color2), var(--btn-grad-color1));
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
  color: white;
  transition: 0.3s ease-out;
}
.btn-link:hover {
  opacity: 0.85;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

/********** Heart checkbox **********/
.heart-cb {
  display: none;
}
.heart-cb + .fa-regular {
  position: relative;
  z-index: 0;
}
.heart-cb + .fa-regular > .fa-solid {
  position: absolute;
  left: 0;
  z-index: -1;
  background-image: linear-gradient(var(--btn-grad-color1), var(--btn-grad-color2));
  background-repeat: no-repeat;
  background-position-y: 18px;
  background-clip: text;
  color: transparent;
  transition: 1s;
}
.heart-cb:checked + .fa-regular > .fa-solid {
  background-position-y: -3px;
}

.fa-heart {
  font-size: 21px;
}

/********** Page header (common) **********/
#header-logo-bar {
  position: relative;
  z-index: 1;
  height: 70px;
  text-align: center;
  align-content: center;
}
@media screen and (min-width: 1000px) {
  #header-logo-bar {
    height: 100px;
  }
}

@media screen and (min-width: 1000px) {
  #header-logo-img {
    width: 200px;
    height: auto;
  }
}

/********** Page footer **********/
#page-footer {
  padding: 25px var(--spacing);
  background-color: var(--footer-bg-color);
}

#footer-links-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media screen and (min-width: 1000px) {
  #footer-links-list {
    flex-direction: row;
    justify-content: end;
    gap: 20px;
  }
  #footer-links-list > li:first-child {
    order: 1;
  }
}

#footer-logo-img {
  margin-bottom: 5px;
}
@media screen and (min-width: 1000px) {
  #footer-logo-img {
    margin-bottom: 0;
    vertical-align: middle;
  }
}

.footer-link {
  color: white;
}
.footer-link > .fa-solid {
  font-size: 13px;
}
.footer-link > .fa-utensils {
  margin-right: 5px;
}

/********** Spacing (home) **********/
h1 {
  margin-bottom: var(--spacing);
}

/********** Page header (home) **********/
#header-logo-bar {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1000px) {
  #header-logo-bar {
    box-shadow: initial;
  }
}

#search-bar {
  position: relative;
  background-color: var(--search-bar-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 1000px) {
  #search-bar {
    box-shadow: initial;
  }
}

#search-form {
  width: max-content;
  line-height: 50px;
  margin: auto;
}

#search-input-label {
  position: relative;
  left: 40px;
}

#search-input-text {
  position: relative;
  left: 40px;
  width: 180px;
  margin-left: 10px;
  border-width: 0;
  background-color: inherit;
  outline: none;
}

/********** Section intro **********/
#intro-section {
  text-align: center;
}
#intro-section > h1 {
  padding: 0 30px;
}
@media screen and (min-width: 1000px) {
  #intro-section > h1 {
    line-height: 40px;
    font-size: 36px;
  }
}

#intro-subtext {
  margin-bottom: 20px;
}

/********** Section steps **********/
#steps-section-bg {
  background-color: white;
}

#steps-box {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  box-sizing: border-box;
  max-width: 1100px;
  padding: 0 0 12px 12px;
  margin: auto;
}
@media screen and (min-width: 600px) {
  #steps-box {
    align-items: center;
    padding-left: 0;
  }
}
@media screen and (min-width: 1000px) {
  #steps-box {
    flex-direction: row;
    padding-left: 12px;
  }
}

.step-box {
  position: relative;
  line-height: 50px;
  padding-left: 15px;
  border-radius: 20px;
  background-color: var(--main-bg-color);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  text-align: center;
}
@media screen and (min-width: 600px) {
  .step-box {
    width: 300px;
  }
}
@media screen and (min-width: 1000px) {
  .step-box {
    flex: 1;
  }
}

.circle-icon {
  position: absolute;
  top: 13px;
  left: -12px;
  width: 24px;
  line-height: 24px;
  border-radius: 50%;
  background-color: var(--btn-grad-color1);
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  color: white;
}

.step-description {
  position: relative;
}
.step-description > .fa-solid {
  position: absolute;
  top: 0;
  font-size: 20px;
  color: var(--btn-grad-color1);
}

.fa-mobile-screen-button {
  left: -26px;
}

.fa-list-ul {
  left: -38px;
}

.fa-store {
  left: -36px;
}

/********** Section restaurants **********/
.restaurant-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing);
  max-width: 1100px;
  margin: auto;
}
@media screen and (min-width: 600px) {
  .restaurant-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

.restaurant-card {
  position: relative;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.restaurant-card-link {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.restaurant-img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.new-label {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 6px 10px;
  border-radius: 2px;
  background-color: var(--label-bg-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  color: var(--label-text-color);
}

.restaurant-card-details {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.heart-cb-label {
  align-self: center;
  cursor: pointer;
}

/*# sourceMappingURL=home.css.map */
